<div class="valign-wrapper">
    <div class="row template">
        <form class="col s12" [formGroup]="frmStaffRegister" (ngSubmit)="registerStaff(frmStaffRegister.value)">
            <h5>Staff Registration</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" formControlName="emailId">
                    <label for="email">Email<span class="start">*</span></label>
                    <dd class="text-danger" *ngIf="emailId.touched && emailId.invalid">
                        <span *ngIf="emailId.errors?.['required']">EmailId Required</span>
                    </dd>
                    <dd class="text-danger" *ngIf="emailId.touched && emailId.invalid">
                        <span *ngIf="emailId.errors?.['pattern']">@[email].com</span>
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" formControlName="password">
                    <label for="password">Password<span class="start">*</span></label>
                    <dd class="text-danger" *ngIf="password.touched && password.invalid">
                        <span *ngIf="password.errors?.['required']">Password Required</span>
                    </dd>
                </div>
            </div>
            <div class="row submit">
                <button class="btn waves-effect waves-light" [disabled]="frmStaffRegister.invalid" type="submit"
                    name="action">Register</button>&nbsp;&nbsp;
                <button class="btn waves-effect waves-light" type="submit" (click)="clearForm()"
                    name="action">Clear</button>
            </div>
        </form>
    </div>
</div>