<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">My School</h5>
        <p class="grey-text text-lighten-4">
          At My School along with the pursuit of academic excellence, our thrust
          is on value based education.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Locations</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Hyderabad</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Chennai</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Bangalore</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Mumbai</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2022 Copyright Myschool</div>
  </div>
</footer>
