.nav-wrapper {
  background-color: #2d3e50;
}
.nav-content {
  background-color: #fff;
}
.btn {
  background-color: #2d3e50;
}
.acolor {
  color: #2d3e50;
}
.secondnav {
  background-color: #fff;
}
.content {
  color: #2d3e50;
}
.phonetext {
  color: #fff;
}
